/.vscode
/alphpyramid.py
/bootstrap
/btn.js
/calculator.html
/cl.py
/E.docx
/Eshop.pdf
/exep.py
/file2.txt
/file3.txt
/file4.txt
/files.py
/fullpir.py
/fun.py
/half pyramid.py
/html
/im.py
/invert py.py
/new2.py
/oop.py
/poly.py
/prime.py
/projects
/super.py
/test.html
/test.py
/testing.py
/tests.py
/th2.jpeg
/TRIANGLE pattern-mypc.py
/TRIANGLE pattern.py
/tuple.py
/__pycache__